.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.topRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
}

.searchRow {
}

.search {
  height: 5px;
}
