.button {
  background-color: #eeeeee;
  border: none;
  width: auto;
  height: 30px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  color: #52057b;
  -webkit-box-shadow: 3px 6px 17px 0px rgba(178, 177, 185, 1);
  -moz-box-shadow: 3px 6px 17px 0px rgba(178, 177, 185, 1);
  box-shadow: 3px 6px 17px 0px rgba(178, 177, 185, 1);
}

.button:hover {
  cursor: pointer;
  background-color: #ffd523;
  color: #21094e;
}
